.dndflow {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .reactflow_wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.circle_handle_input {
  background-color: white;
  border: 2px solid rgb(173, 173, 173);
}
.circle_handle_output {
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
}
.heading_icon {
  margin-right: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgb(231, 231, 231);
}
a {
  text-decoration: none;
  color: #23aeff;
  font-weight: 600;
}
/*Custome Node Style*/
.greeting_node {
  width: 400px;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(240, 240, 240, 0.75);
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
  position: relative;
}
.greeting_node_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 5px 15px;
}
.greeting_node_header_text {
  align-items: center;
  display: flex;
}
.greeting_node_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

/* @media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 30%;
    max-width: 250px;
  }
} */
