.body_item,
.body_item.message {
  min-height: 40px;
  width: 80%;
  border-radius: 8px;
  margin: 8px 0;
  box-shadow: 0px 1px 1px 1px rgba(221, 221, 221, 0.75);
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.body_item span {
  font-size: larger;
  font-weight: 500;
  margin-right: 20px;
  color: gray;
}
.body_item p {
  font-weight: 600;
}
.circle_handle_output.catalogue {
  margin-top: 45px;
}
.circle_handle_output.package {
  margin-top: 115px;
}
.circle_handle_output.contact {
  margin-top: 185px;
}
